flask==3.0.3
requests==2.32.3
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow
werkzeug==3.0.3
gunicorn==21.2.0
google-auth>=2.0.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.140.0
google-auth-httplib2==0.2.0
psycopg2-binary==2.9.9
